body
{
    padding-top: 60px;
}

label
{
    width: 100rem;
}

.post-card
{
    width: 15rem;
    height: 15rem;
    margin: 5px;
    font-size: 85%;
}

#jumbotron-styling
{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

#form-container
{

}

#welcome-msg
{
    background: url('/static/IMG_0401.jpg');
    background-size: cover;
}

#content
{
    padding:10px;
}

.footer-text
{
    text-align: center;
    font-size: 80%;
    padding: 1px;
}