html
{
  height: 100%;
}

body
{
    background: url('/static/IMG_0401.jpg');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 70px;
}

#contact-textarea
{
    height: 150px;
}

#contact-content
{
    margin-bottom: 160px;
}

.footer-text
{
    text-align: center;
    font-size: 80%;
    padding: 1px;
}

.svg-img
{
    filter: invert(100%);
}

#mainTable_wrapper
{
    font-size: 90%;
    color: black;
    opacity: 0.9;
    overflow: scroll;
    padding: 10px;
    background-size: auto;
}

#contact-form
{
    text-align: center;
    color: white;
    font-weight: bold;
    /*opacity: 0.65;*/
    border-radius: 25px;
    background-color: black;
}

#content
{
    overflow: auto;
    padding-bottom: 150px;
}

#footer-container
{
    max-height: 10rem;
    margin-top: 65px;
    bottom: 0;
}