/*global selectors*/

nav
    {
        text-align: center;
    }

body
    {
        background-image: urL('IMG_0401.jpg');
        background-attachment: fixed;
        background-size: cover;
        padding-top: 60px;
    }

article
    {
        border-left: 15px black;
        border-radius: 5px;
        margin-left: 5px;
        padding-left: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 5px;
        margin-top: 5px;
        background-color: #f6f6f6;
    }

textarea
    {
        resize: none;
        height: 50px;
    }

/*top nav elements*/

#post-resource
    {
        width: 50vh;
        padding: 5px;
    }

#title-brand
    {
        font-family: 'Ultra', serif;
    }

#top-menu-nav.li
    {
        display: inline-block;
    }

.submit_flash
    {
        padding: 10px;
    }

/*search criteria filter elements*/

/*#filter-container*/
/*    {*/
/*        top-margin: 75px;*/
/*    }*/

#filter-container.input, #filter-container.button
    {
        size: 5;
    }
/*main forum elements*/

#forum-container
    {
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        padding: 10px;
        min-height: 50px;

    }

/*footer elements*/

#footer-list
    {
        list-style-type: none;
        background-color: rgb(64,64,64);
        border: none;
        color: white;
        padding: 3px;
    }

#footer-list.li
    {
        display: inline-block;
    }

