{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'bootstrap/utils.html' as utils %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Milwaukee COVID-19 Resources and Information</title>
        {% block styles %}
        <link type="text/css" rel="stylesheet" href="static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Alata&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
        {% endblock styles %}
    </head>
    <body>

    {% block navbar %}
        <div id='top-nav-container' class='container-fluid' style="text-align: center;">
            <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm">
                <ul class="nav nav-pills">
                    <li class='nav-brand btn btn-outline col-xs'>
                        <a id='title-brand' class='nav-link' href='/'>
                            Milwaukees Area COVID-19 Resource & Information
                        </a>
                    </li>

                    <li class='nav-item btn btn-outline col-xs'>
                        <a class='nav-link' href='#' target'#'>
                            About
                        </a>
                    </li>
                    {% block nav_element %}
                    {% endblock nav_element %}
                </ul>
            </nav>
        </div>
    {% endblock navbar %}

    {% block content%}
    {% endblock content %}

    {% block footer %}
        <div id='footer-container' class='container' style="text-align: center;">
            <nav id="footer-list" class="navbar navbar-default fixed-bottom">
                <div class='container-fluid'>
                <div class="row top-footer">
                    <ul class="nav nav-pills">
                        <li class='btn btn-xs nav-item col-xs-1'><a class='nav-link  text-light bg-dark' href={{url_for('contact')}}><img class='svg-img-invert' height='25' width='25' src= " {{ url_for('static',filename='envelope-regular.svg') }} " /> Contact</a></li>
                        <li class='btn text-light btn-xs nav-item col-xs-1'><a href="https://www.buymeacoffee.com/kmtopel" target='#'><img class='svg-img-invert' height='25' width='25' src= " {{ url_for('static',filename='dollar-sign-solid.svg') }} " /> Support</a></li>
                        <li class='btn text-light btn-xs nav-item col-xs-1'><a href="https://github.com/kmtopel/mke_covid_info_site" target='#'><img class='svg-img-invert' height='25' width='25' src= " {{ url_for('static',filename='github-brands.svg') }} " /> GitHub</a></li>
                    </ul>
                </div>
                <div class="row bottom-footer">
                    <p>Background photograph courtesy of April Heath. <a href="https://www.instagram.com/april.deaunna.photography/?hl=en" target="#">Check out her work </a>.</p>
                    <p style="font-size: 80%"> &copy; 2020 Kevin Topel.</p>
                </div>
                </div>
            </nav>
        </div>
    {% endblock footer %}

    {% block scripts %}
        <script src="{{ url_for('static',filename='main.js') }}" ></script>
    {% endblock %}

    </body>
</html>