{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'bootstrap/utils.html' as utils %}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>Milwaukee COVID-19 Resources and Information</title>
            {% block styles %}
            {{super()}}
            <link type="text/css" rel="stylesheet" href="static/styles.css">
            <link href="https://fonts.googleapis.com/css2?family=Alata&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
            {% endblock styles %}
        </head>
        <body>

        {% block navbar %}
        <div id='top-nav-container' class='container'>
            <div class='container-fluid'>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <ul class="nav nav-pills">
                        <li class='nav-item'>
                            <a id='title-brand' class='navbar-brand' href='/'>
                                Milwaukees Area COVID-19 Resource & Information
                            </a>
                        </li>

                        <li class='nav-item'>
                            <a class='nav-link' href={{url_for('contact')}}>Contact</a>
                        </li>
                        {% block nav_element %}
                        {% endblock nav_element %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endblock navbar %}
        {% block content%}
        {% endblock content%}
        <div class="container">
            <nav class="navbar footer navbar-fixed-bottom">
                <p> Background photograph courtesy of April Heath. Check out her work <a href="https://www.instagram.com/april.deaunna.photography/?hl=en" target="#">here</a>.</p>
            </nav>
        </div>
        </body>
    </html>