{% extends "layout.html" %}

{% block content %}
<div class='container' id='content'>
    {{ super() }}
    <div id='table-container' class='table-responsive'>
        <table class="table no-padding table-hover table-sm table-light rounded table-wrapper-scroll-y" id='mainTable'>
            <thead class='thead-dark rounded'>
                <tr class='table-row'>
                    <th scope="col" class='table-cell'>Resource <span>&#x21c5;</span></th>
                    <th scope="col" class='table-cell text-truncate'>Category <span>&#x21c5;</span></th>
                    <th scope="col" class='table-cell'>Details </th>
                    <th scope="col" class='table-cell'>Link <span>&#x21c5;</span></th>
                    <th scope="col" class='table-cell'>Contact <span>&#x21c5;</span></th>
                    <th scope="col" class='table-cell'>Posted <span>&#x21c5;</span></th>

                </tr>
            </thead>
            <tbody class='rounded bg-light'>
                {% for post in data %}
                    {% if post.active==1 %}
                        <tr id= 'row_{{post.id}}' class='{{ post.post_type.lower() }} p-0 col-xs-6 col-sm-12'>
                            <th class='table-cell' scope='row'>{{ post.post_title }}</th>
                            <td class='table-cell text-truncate'>{{ post.post_type }}</td>
                            <td class='table-cell'>
                                <a href='#' data-toggle="modal" data-target="#{{ post.id }}">
                                    View Details <span>&#x279a;</span>
                                </a>
                            </td>
                             <td class='table-cell'>
                                {% if post.link %}
                                <a href= "{{ post.link }}"  target=#>
                                Visit Link <span>&#x279a;</span>
                                </a>
                                {% else %}
                                    Website Not Available
                                {% endif %}
                            </td>
                            <td class='table-cell'>{% if post.ph_num %} {{post.ph_num}} {% else %}Not Available {% endif %}</td>
                            <td class='table-cell'>{{ post.timestamp.strftime('%-m/%-d/%Y') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
function copyText(resource_id)
    {
    var copyText = resource_id;
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    document.execCommand("copy");

    alert("Copied the link: \n" + copyText.value);
    }

$(document).ready(function(){

    var table =$('#mainTable').DataTable({
            "order":[[5,'desc']],
            "searchable":true,
            "dom":'<"#top-filter"<"row"<"col-lg-1 col-med-2 col-sm-4 col-xs-4"l><"col-lg-4 col-xs-4"f>>><t><"#bottom-filter"p>',
            "language": {"lengthMenu":"Display: _MENU_ "}
        });

    $('#top-filter').addClass("p-1");
    $('#bottom-filter').addClass('d-flex justify-content-center');
});

</script>
{% endblock scripts %}