{% extends "layout.html" %}

{% block nav_element %}
    <li role='presentation' class='dropdown nav-item btn btn-outline col-xs'>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Submit Resource<span class="caret"></span></a>
        <div class="dropdown-menu" id="navbarCollapse" >
            <form class='nav-item' id="post-resource" action="/" method="POST">
                {{ form.csrf_token }}

                <div class="form-group nav-item">
                    {{ wtf.form_field(form.post_title) }}
                </div>

                <div class="form-group nav-item">
                    {{ wtf.form_field(form.email) }}
                </div>

                <div class="form-group nav-item">
                    {{ wtf.form_field(form.post_type_submit) }}
                </div>

                <div class="form-group nav-item">
                    {{ wtf.form_field(form.link) }}
                </div>

                <div class="form-group nav-item">
                    {{ wtf.form_field(form.description) }}
                </div>

                <div class="form-group nav-item">
                    <input id='post-submit-btn' type="submit" class="btn btn-default btn-dark mb-2" />
                </div>
                <div id='flash-msg-container'>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class='alert alert-success' id='submit_flash'>
                        <button type='button' class='close' data-dismiss='alert'> &times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </li>
{% endblock nav_element %}
{% block content %}
<div class="container">
    <div id="filter-container">
        <div class="row">
            <form>
                <div id='filter-row' class='form-row'>
                    <div class='col col-sm-2 sb-1'>
                        <select class='selectpicker form-control'>
                            {% for choice in choices %}
                            <option>{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='col col-sm-1'>
                        <button type="submit" class="btn btn-xs icon-btn"><img class='svg-img' height='25' width='25' src= " {{ url_for('static',filename='filter-solid.svg') }} " /></button>
                    </div>
                    <div class='col col-sm-2'>
                        <select class='selectpicker form-control'>
                            <option> Category</option>
                            <option> Title</option>
                            <option> Date </option>
                        </select>
                    </div>
                    <div class='col col-sm-1'>
                        <button type="submit" class="btn btn-xs icon-btn"><img class='svg-img' height='25' width='25' src= " {{ url_for('static',filename='sort.svg') }} " /></button>
                    </div>
                    <div class='col col-sm-1'>
                        <button type="submit" class="btn btn-xs icon-btn"><img class='svg-img' height='25' width='25' src= " {{ url_for('static',filename='bars-solid.svg') }} " /></button>
                    </div>
                    <div class='col col-sm-1'>
                        <button type="submit" class="btn btn-xs icon-btn"><img class='svg-img' height='25' width='25' src= " {{ url_for('static',filename='th-solid.svg') }} " /></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="forum-container" class='row well well-lg pre-scrollable panel-group h-75' style="max-height: 75vh">

        {% for post in data %}
            {% if post.active==1 %}
                <div class="panel panel-info col-lg-4 h-75 d-inline-block">
                    <div class="panel-heading"}>{{ post.post_type }}</div>
                        <div class="panel-body">
                            <h5 class="panel-title"><a href={{ post.link }} target=#>{{ post.post_title }}</a></h5>
                            <div class="panel-footer">{{post.description}}</p>
                            <div class="panel-text text-muted"> posted on: {{ post.timestamp.strftime('%m/%d/%Y') }} </div>
                            <!--<div class="panel-footer"> link: {{ post.link }} </div>-->
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>
{{ super() }}
{% endblock content %}
