{% extends "layout.html" %}
{% block content %}
<h1>Milwaukee COVID-19 Resources and Information</h1>

<div id='sidebar' class='formwrapper'>
    <form method='POST' action='/' id='create_post'>
        {{ form.csrf_token }}
        <h3 class="form-child">Post a Resource</h3>
        {{ form.email.label }} {{ form.email(class="form-child form-field") }}
        {{ form.title.label }} {{ form.title(class="form-child form-field") }}
        {{ form.type.label }} {{ form.type(class="form-child form-field")}}
        {{ form.link.label }} {{ form.link(class="form-child form-field") }}
        {{ form.description.label }} {{ form.description(class="form-child form-field") }}
        <input type="submit" value="Post" class="form-child" id="post_button">
    </form>
</div>
{% endblock content %}